@import "tailwindcss";

@theme {
	--color-primary: #4372ff;
	--color-secondary: #ff9900;
	--color-font: #333333;
	--color-background: #ffffff;
	--color-header-font: #ffffff;

	--breakpoint-sm: 640px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;
}

.root {
	--font-family-sans:
		system-ui, -apple-system, "Segoe UI", "Hiragino Kaku Gothic ProN",
		"Hiragino Sans", "Yu Gothic Medium", "Yu Gothic", "Meiryo", "MS PGothic",
		sans-serif;
}
