;; shadow-cljs configuration
{:nrepl {:port 12731}
 :source-paths
 ["src/dev"
  "src/main"
  "src/test"]
 :dependencies
 [[reagent "1.0.0"]
  [re-frame "1.2.0"]
  [metosin/reitit "0.5.13"]
  [venantius/accountant "0.2.5"]
  [applied-science/js-interop "0.2.7"]
  [arttuka/reagent-material-ui "4.11.3-2"]]
 :dev-http {8080 "public"}
 :builds
 {:app
  {:target :browser
   :modules {:main {:init-fn pg.core/init}}}}}
