@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO */

:root {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  max-width: 100dvw;
  background-color: #f3f4f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
