@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO */

:root {
	font-family: "M PLUS 1p", sans-serif;
	line-height: 1.5;
	font-weight: 400;
	max-width: 100dvw;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
